html, body {
    height: 100%;
    font-family: "Source Sans Pro";
}

#loading-div {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

#titlebar {
    background-color: #20232a;
    color: white;
    height: 48px;
}

#dci-login-text {
    font-size: 52px;
    font-weight: bold;
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#login-username-input::placeholder,
#login-password-input::placeholder {
    text-align: center;
}

#login-username-input,
#login-password-input {
    width: 180px;
}

#login-password-input {
    margin-top: 8px;
}

#login-button-container {
    margin-top: 4px;
}